:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffc7;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
table {
  table-layout: fixed;
  width: 40vw;
  border-collapse: collapse;
  position: relative;
}

tbody tr:nth-child(odd) {
  background-color: hsla(0, 0%, 0%, 0.123);
}

tbody tr:nth-child(even) {
  background-color: #9615b600;
}
#KdDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#containerApp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#KillDashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
